In [ ]:
# Cell 1: Imports & Counter Loader
import pandas as pd
import numpy as np
import math
from collections import Counter

def load_counter(csv_file):
    df = pd.read_csv(csv_file)
    df["Ngram"] = df["Ngram"].astype(str)   # ensure keys are strings
    df["Count"] = df["Count"].astype(int)
    return Counter(dict(zip(df["Ngram"], df["Count"])))

# Load n-gram counts
unigram_c    = load_counter(r"C:\Users\dubey\OneDrive\Desktop\Coding\NLP-lab\LAB4\unigram.csv")
bigram_c     = load_counter(r"C:\Users\dubey\OneDrive\Desktop\Coding\NLP-lab\LAB4\bigram.csv")
trigram_c    = load_counter(r"C:\Users\dubey\OneDrive\Desktop\Coding\NLP-lab\LAB4\trigram.csv")
quadrigram_c = load_counter(r"C:\Users\dubey\OneDrive\Desktop\Coding\NLP-lab\LAB4\quadrigram.csv")

print("Unigrams:", len(unigram_c))
print("Bigrams:", len(bigram_c))
print("Trigrams:", len(trigram_c))
print("Quadrigrams:", len(quadrigram_c))

Unigrams: 199997
Bigrams: 200000
Trigrams: 200000
Quadrigrams: 200000

In [57]:
# Cell 2: Build Vocabulary
vocab = set()
for ng in unigram_c:
    for w in ng.split():
        vocab.add(w)

vocab_size = len(vocab)
print("Vocabulary size:", vocab_size)

Vocabulary size: 199997

In [58]:
# Cell 3: Good-Turing Smoothing
def good_turing_probs(counter, vocab_size, n):
    N = sum(counter.values())
    freq_of_freq = Counter(counter.values())
    N1 = freq_of_freq[1]

    probs = {}
    for ng, c in counter.items():
        Nc = freq_of_freq[c]
        Nc1 = freq_of_freq.get(c+1, 0)
        if Nc > 0:
            c_star = (c+1) * Nc1 / Nc
        else:
            c_star = c
        probs[ng] = c_star / N

    # unseen events
    if n == 1:
        unseen_count = vocab_size - len(counter)
    else:
        unseen_count = vocab_size**n - len(counter)

    p_unseen = (N1 / N) / max(1, unseen_count)
    return probs, p_unseen

# Build models
uni_probs, uni_pu   = good_turing_probs(unigram_c, vocab_size, 1)
bi_probs, bi_pu     = good_turing_probs(bigram_c, vocab_size, 2)
tri_probs, tri_pu   = good_turing_probs(trigram_c, vocab_size, 3)
quad_probs, quad_pu = good_turing_probs(quadrigram_c, vocab_size, 4)

print("Good-Turing models built successfully.")

Good-Turing models built successfully.

In [59]:
# Cell 4: Sentence Probability (log-space to avoid underflow)
def sentence_log_prob(sentence, probs, p_unseen, n):
    tokens = ["<s>"]*(n-1) + sentence.strip().split() + ["</s>"]
    log_prob = 0.0
    for i in range(len(tokens)-n+1):
        ng = " ".join(tokens[i:i+n])
        p = probs.get(ng, p_unseen)
        log_prob += math.log(p if p > 0 else 1e-15)
    return log_prob

def sentence_perplexity(sentence, probs, p_unseen, n):
    tokens = ["<s>"]*(n-1) + sentence.strip().split() + ["</s>"]
    log_prob = 0.0
    for i in range(len(tokens)-n+1):
        ng = " ".join(tokens[i:i+n])
        p = probs.get(ng, p_unseen)
        log_prob += math.log(p if p > 0 else 1e-15)
    length = len(tokens)   # include <s> and </s>
    return math.exp(-log_prob / length)

In [60]:
# Cell 5: Load validation & test sets
val = pd.read_csv("val_sentences.csv")
test = pd.read_csv("test_sentences.csv")

val_sentences = val["sentence"].tolist()
test_sentences = test["sentence"].tolist()

print("Validation sentences:", len(val_sentences))
print("Test sentences:", len(test_sentences))

Validation sentences: 1000
Test sentences: 1000

In [61]:
# Cell 6: Evaluate on first 10 validation sentences with all models
models = [
    ("Unigram", uni_probs, uni_pu, 1),
    ("Bigram", bi_probs, bi_pu, 2),
    ("Trigram", tri_probs, tri_pu, 3),
    ("Quadgram", quad_probs, quad_pu, 4)
]

for s in val_sentences[:10]:
    print(f"\nSentence: {s}")
    for name, probs, pu, n in models:
        logp = sentence_log_prob(s, probs, pu, n)
        ppl  = sentence_perplexity(s, probs, pu, n)
        print(f"  {name:8s} -> LogProb: {logp:.4f}, Perplexity: {ppl:.4f}")

Sentence: कम  से  कम  यह  तो  बता  दिया  जाए  कि  आखिर  उन्हें  गैस  कहां  से  मिलेगी ।
  Unigram  -> LogProb: -587.1592, Perplexity: 999999999999984.6250
  Bigram   -> LogProb: -376.8639, Perplexity: 1238152138.7032
  Trigram  -> LogProb: -521.7073, Perplexity: 841356465741.7955
  Quadgram -> LogProb: -520.5458, Perplexity: 201144458758.3000

Sentence: शारिब  रूदौलवी  ने  कहा  कि  जिगर  से  मेरा  गहरा  ताल्लुक  रहा  है  यही  कारण  है  कि  उनके  मृत्यु  के  बाद  मैंने  इनपर  किताब  लिखने  का  फैसला  किया  1960 में  जिगर  का  देहांत  हुआ  तो  मुझे  बहुत  तकलीफ  हुई  कि  उनपर  कुछ  ज्यादा  लिखा  नहीं  गया  था  कुछ  मजामीन  के ।
  Unigram  -> LogProb: -1475.6091, Perplexity: 3678447867683.1069
  Bigram   -> LogProb: -1357.9808, Perplexity: 219587321638.9611
  Trigram  -> LogProb: -1599.3909, Perplexity: 12758081684434.4805
  Quadgram -> LogProb: -1694.0536, Perplexity: 42112419859281.9844

Sentence: िंध  का  समूचा  इलाका  संपदाओं  से  लबरेज  उर्वशी  रौतेला  का  जन्म  25 - 02 - 1994 को  भारत  के  उत्तराखंड  राज्य  के  कोटद्वार , पौड़ी  गढ़वाल  में  हुआ  था ।
  Unigram  -> LogProb: -851.8360, Perplexity: 858608958256.2555
  Bigram   -> LogProb: -767.6002, Perplexity: 26160197247.6607
  Trigram  -> LogProb: -1000.5715, Perplexity: 14721784027964.2910
  Quadgram -> LogProb: -1044.8916, Perplexity: 22222019193452.1992

Sentence: इन  केंद्रों  पर  आगामी  28 फरवरी  तक  28 हजार  400 मीट्रिक  टन  धान  की  खरीद  की  जाएगी ।
  Unigram  -> LogProb: -633.5934, Perplexity: 303688038488496.9375
  Bigram   -> LogProb: -344.6583, Perplexity: 30490231.2341
  Trigram  -> LogProb: -480.9429, Perplexity: 8835491450.5799
  Quadgram -> LogProb: -526.8395, Perplexity: 25128080528.5814

Sentence: इंदौर ।
  Unigram  -> LogProb: -103.6163, Perplexity: 999999999999998.8750
  Bigram   -> LogProb: -80.1750, Perplexity: 506857741.5336
  Trigram  -> LogProb: -56.5471, Perplexity: 81586.4071
  Quadgram -> LogProb: -103.6163, Perplexity: 31622776.6017

Sentence: मौजूदा  वित्तीय  वर्ष  के  प्रारम्भ  होने  पर  इस  गति  को  कम  होने  नहीं  दिया  गया  है ।
  Unigram  -> LogProb: -575.9168, Perplexity: 78598807304322.5781
  Bigram   -> LogProb: -440.9423, Perplexity: 11991822422.1333
  Trigram  -> LogProb: -532.9658, Perplexity: 374286637131.9946
  Quadgram -> LogProb: -597.1850, Perplexity: 2239738531209.1333

Sentence: उन्होंने  कहा  कि  पांच  फिट  से  अधिक  की  प्रतिमा  न  स्थापित  की  जाय ।
  Unigram  -> LogProb: -469.7692, Perplexity: 39921852200078.7188
  Bigram   -> LogProb: -380.9430, Perplexity: 21882167128.4988
  Trigram  -> LogProb: -427.0806, Perplexity: 81379224833.8771
  Quadgram -> LogProb: -474.2523, Perplexity: 277018296756.4028

Sentence: रेलवे  विकास  निगम  को  भेजी  डिमांड , पहले  चरण  का  मुआवजा  बांटने  की  चल  रही  प्रक्रिया  बिलासपुर— सामरिक  दृष्टि  से  महत्त्वपूर्ण  भानुपल्ली - बिलासपुर - बैरी  रेलवे  लाइन  बिछान  के  लिए  किए  गए  सर्वेक्षण  के  तहत  अब  दूसरे  चरण  में  14 राजस्व  गांवों  में  भू - अधिग्रहण  कार्य  के  लिए  200 करोड़  रुपए  का  खर्च  आएगा ।
  Unigram  -> LogProb: -1701.3250, Perplexity: 5485831931848.2295
  Bigram   -> LogProb: -1294.0690, Perplexity: 3353843100.6366
  Trigram  -> LogProb: -1643.9182, Perplexity: 792640754634.6486
  Quadgram -> LogProb: -1936.1327, Perplexity: 60877256125144.4375

Sentence: बावजूद  इसके  पूरी  टीम  406 रनों  पर  ढेर  हो  गई .
  Unigram  -> LogProb: -369.8904, Perplexity: 24365844164398.0547
  Bigram   -> LogProb: -275.9036, Perplexity: 1648863883.8200
  Trigram  -> LogProb: -325.1875, Perplexity: 12236340133.6834
  Quadgram -> LogProb: -349.2651, Perplexity: 12949738513.1366

Sentence: इसके  साथ  ही  इसके  पोर्टफोलियो  में  40 से  अधिक  शेयरों  का  डायवर्सन  है ।
  Unigram  -> LogProb: -450.3433, Perplexity: 10933908472347.2812
  Bigram   -> LogProb: -405.1730, Perplexity: 99489166591.4687
  Trigram  -> LogProb: -451.6734, Perplexity: 345764417522.2081
  Quadgram -> LogProb: -496.4314, Perplexity: 949807037790.6117

In [62]:
# Cell 7: Task 3 - Good-Turing Frequency Tables

def good_turing_table(counter, top_k=100):
    # Build frequency-of-frequency
    freq_of_freq = Counter(counter.values())
    rows = []
    
    for c in sorted(freq_of_freq.keys())[:top_k]:
        Nc = freq_of_freq[c]
        Nc1 = freq_of_freq.get(c+1, 0)
        if Nc > 0:
            c_star = (c+1) * Nc1 / Nc
        else:
            c_star = c
        rows.append((c, Nc, c_star))
    
    df = pd.DataFrame(rows, columns=["c", "Nc", "c*"])
    return df

# Generate tables
uni_table  = good_turing_table(unigram_c)
bi_table   = good_turing_table(bigram_c)
tri_table  = good_turing_table(trigram_c)
quad_table = good_turing_table(quadrigram_c)

print("Top Good-Turing frequencies for Unigrams:")
display(uni_table.head(20))

print("\nTop Good-Turing frequencies for Bigrams:")
display(bi_table.head(20))

print("\nTop Good-Turing frequencies for Trigrams:")
display(tri_table.head(20))

print("\nTop Good-Turing frequencies for Quadrigrams:")
display(quad_table.head(20))

Top Good-Turing frequencies for Unigrams:

     c     Nc         c*
0    3   4921  24.277992
1    4  29868   3.336514
2    5  19931   4.328935
3    6  14380   5.354172
4    7  10999   6.438403
5    8   8852   7.328513
6    9   7208   8.325472
7   10   6001   9.284286
8   11   5065  10.483712
9   12   4425  11.028701
10  13   3754  12.873735
11  14   3452  13.792005
12  15   3174  13.519849
13  16   2682  15.320283
14  17   2417  17.203144
15  18   2310  16.606494
16  19   2019  18.563645
17  20   1874  19.935432
18  21   1779  20.367622
19  22   1647  21.631451

Top Good-Turing frequencies for Bigrams:

     c    Nc            c*
0   41    17  10188.705882
1   42  4124     39.517459
2   43  3790     43.164116
3   44  3718     43.741259
4   45  3614     43.912562
5   46  3450     44.793043
6   47  3288     47.197080
7   48  3233     47.060006
8   49  3105     47.600644
9   50  2956     48.187754
10  51  2793     52.577157
11  52  2824     48.364377
12  53  2577     53.371362
13  54  2547     54.805654
14  55  2538     54.212766
15  56  2457     56.930403
16  57  2454     51.784026
17  58  2191     58.919215
18  59  2188     59.506399
19  60  2170     57.598618

Top Good-Turing frequencies for Trigrams:

     c    Nc          c*
0   35  1391  156.940331
1   36  6064   34.565468
2   37  5665   36.336452
3   38  5417   36.768137
4   39  5107   39.075778
5   40  4989   38.698938
6   41  4709   39.092376
7   42  4383   41.077116
8   43  4187   43.401003
9   44  4130   41.992736
10  45  3854   45.271925
11  46  3793   43.567625
12  47  3516   46.866894
13  48  3433   46.273813
14  49  3242   47.732881
15  50  3095   49.961874
16  51  3032   49.358839
17  52  2878   50.790132
18  53  2758   50.965192
19  54  2603   54.218210

Top Good-Turing frequencies for Quadrigrams:

     c     Nc         c*
0   20   4482  53.118474
1   21  11337  19.970186
2   22  10291  20.525896
3   23   9184  22.209930
4   24   8499  22.343805
5   25   7596  24.165350
6   26   7060  24.384136
7   27   6376  26.265370
8   28   5981  26.517472
9   29   5469  28.156884
10  30   5133  29.435808
11  31   4874  28.717275
12  32   4374  31.513717
13  33   4177  31.322001
14  34   3848  33.317308
15  35   3663  33.886978
16  36   3448  34.220708
17  37   3189  36.367513
18  38   3052  35.869266
19  39   2807  38.090488