In [2]:
import pandas as pd
from collections import Counter
tokenized_path = r"C:\Users\dubey\OneDrive\Desktop\Coding\NLP-lab\Lab1\tokenized_hindi.txt"

word_count = Counter()
print("Started Calculating.....\n")
with open(tokenized_path, 'r', encoding="utf-8") as f:
    for line in f:
        tokens = line.strip().split()
        word_count.update(tokens)
df = pd.DataFrame(list(word_count.items()), columns=["word", "freq"])


df.to_csv("word_freq.csv", index=False, encoding="utf-8")
print("Csv Saved.......")

Started Calculating.....

Csv Saved.......

In [5]:
df.sample(10)

                 word  freq
356455          जेनेऊ     1
544056     कान्हाखेड़ा     1
81216       कर्जदारों    50
422730         सेलेकर     1
584549      चित्रजड़ित     1
273791       धनुर्बाण     1
426245      स्टाफगणों     1
423726  मुख्यमंत्रीगण     1
18926     सेनिटाइजेशन    50
302450       चांदपरना     3