In [12]:
import pandas as pd
import math

In [13]:
# Load unigram and bigram probability tables
unigrams = pd.read_csv(r"C:\Users\evilk\OneDrive\Desktop\III YEAR\LABS\NLP\LAB4\unigram.csv")
bigrams = pd.read_csv(r"C:\Users\evilk\OneDrive\Desktop\III YEAR\LABS\NLP\LAB4\bigram.csv")

unigram_probs = dict(zip(unigrams["Ngram"], unigrams["Raw"]))
bigram_probs = dict(zip(bigrams["Ngram"], bigrams["Raw"]))

print("Loaded unigram and bigram tables")

Loaded unigram and bigram tables

In [14]:
pmi_scores = []

for bigram, p_w1w2 in bigram_probs.items():
    try:
        w1, w2 = bigram.split(" ", 1)
    except ValueError:
        continue  # skip malformed bigrams

    if w1 in unigram_probs and w2 in unigram_probs:
        p_w1 = unigram_probs[w1]
        p_w2 = unigram_probs[w2]

        if p_w1 > 0 and p_w2 > 0 and p_w1w2 > 0:
            pmi = math.log2(p_w1w2 / (p_w1 * p_w2))
            pmi_scores.append({
                "Bigram": bigram,
                "PMI": pmi
            })

In [15]:
# Convert to DataFrame
df_pmi = pd.DataFrame(pmi_scores)

df_pmi = df_pmi.sort_values(by="PMI", ascending=False).head(50000)

df_pmi.to_csv("top50000_pmi.csv", index=False)

print("Saved top 5000 PMI scores to top5000_pmi.csv")
df_pmi.head(10)

Saved top 5000 PMI scores to top5000_pmi.csv

                     Bigram        PMI
199981         Nicky Hilton  21.095643
194565         Rishabh Pant  20.875489
160642  यूक्रेनियन रिव्निया  20.675172
170159         इंश्‍ योरेंस  20.618484
154689             विष्‍ णु  20.607765
167067             वीड‍ ियो  20.582202
170536               भा0 द0  20.569574
167203               मु0 अ0  20.569050
192842               ab tak  20.508445
150237          Hari Bhoomi  20.451124